body {
    text-align: center;
    font-family: sans-serif;
}
p.style {
    opacity: 1 !important;
}
/*
#display-image{
    width: 700px;
    height: 750px;
    border: 1px solid black;
    background-position: center;
    background-size: cover;
}
*/